<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="applications.apps.celsoft.com.showoff">

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Network State Permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />



    <!-- [START gcm_permission] -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- [END gcm_permission] -->


    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="applications.apps.celsoft.com.showoff.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <permission android:name="com.google.android.c2dm.intent.REGISTRATION"
        android:protectionLevel="signature"
        />
    <uses-permission android:name="applications.apps.celsoft.com.showoff.permission.C2D_MESSAGE" />

    <application
        android:name=".ShowOffApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ShowOff_startPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >

            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </activity>
        <activity android:name=".LaunchPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".StartActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>-->
        <activity android:name=".ChooseMedia" />
        <activity
            android:name=".VideoPlayer"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_video_player"
            android:screenOrientation="landscape"
            android:theme="@style/FullscreenTheme" />
        <activity android:name="applications.apps.celsoft.com.showoff.UserProfile"
            android:theme="@style/AppTheme.NoActionBar"
           android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".UserPreference_activity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".EditAboutUser"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            ></activity>

        <activity android:name=".FeedDetailActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".UserProfileSettingPage"

            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".Activity_myShowOffs"

            android:screenOrientation="portrait"
            ></activity>
        <activity android:name=".ShowOffPaddies"

            android:screenOrientation="portrait"
            ></activity>







        <!-- [START gcm_receiver] -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.codepath.gcmquickstart" />
            </intent-filter>
        </receiver>
        <!-- [END gcm_receiver] -->
        <service android:name=".Utilities.gcmFiles.RegistrationIntentService" android:exported="false"/>

        <service
            android:name=".Utilities.gcmFiles.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID"/>
            </intent-filter>
        </service>

        <service
            android:name=".Utilities.gcmFiles.GcmMessageHandler"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>
